.DS_Store
*.o
*.d
*.a
*.dylib
*.gch
*.pch
*.dSYM
*~
*.snap
*.snap.backup
*.old
*.file_status
*.xcuserdatad
*.xcworkspace
*.xcuserstate
*.OLD
build/
cmake-build-*/
objects/glue/test*

.aider*

# CI
tools/ci/images/
tools/ci/logs/
tools/ci/*.pid
tools/ci64/images/
tools/ci64/logs/
build-ci-macos/
